<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" />
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/css/application.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
  <%= yield %>
</div>
</body>
</html>