<h1>Register</h1>
<form action="<%= request.base_url %>" method="post">
  Email: <input type="text" name="Email"><br/>
  Password: <input type="password" name="Password"><br/>
  <input type="submit" value="Register">

</form>